*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
a{
    text-decoration: none;
    color: #000000;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    color: #000000;
    margin: 15px;
    padding: 20px;
    height: auto;
}
.navbar-brand{
    font-weight: 500;
    font-size: 24px;
    color: #437bea;
    transition: 0.3s color;
    padding: 0 20px;
}
.navbar-toggler{
    font-size: 1.25rem;
    border: none;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link:active{
    color: #000000;
}
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #4f89fe;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}

.dropdown-item:hover{
   background: #d6cfcf;
   color: #000000;
}

@media (min-width: 680px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #437cea;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }

}
@media (max-width: 480px){
    .login-btn{
        display: none;
    }
    body {
        background: #000000;
        color: #ffffff;
    }
}

.hero-section{
    height: 100%;
    width: 100%;
}

.gif-container {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }


.text-with-line{
    position: relative;
    display: inline-block;
    text-align: center;
}

.text-with-line::after{
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #62b4f8;
    position: absolute;
    left: 26%;
    bottom: 0;
}

.notification{
    padding: 20px;
    height: 100%;
    width: 100%;
}

/* list */
.list-group-item{
    cursor: pointer;
}
.list-group-item a{
    text-decoration: none;
}
.list-group-item.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
hr {
    border: 1px solid #130e0e;
    margin: 20px 0;
}
